#ref-nav {
 	width:100%;
 	z-index:1
 	background-color: #000;
}

#ref-header {
    background-color: #cdffeb;
    padding-top: 10px;
    padding-bottom: 10px;
    width:100%;
    text-align: center;
}


.ref-hero-image img {
    max-width: 100%;
}

.second-grid {

}

.footer {

	background-color: #f1f1f1;
	color: #696969;
	padding-top: 10px
}

    
.ref-button {
	background-color: #07456f; 
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    padding: 10px 70px;
    min-width: 64px;
    height: 36px;
}
